button {
	font-size: 1rem;
	padding: 0.8rem 1.5rem;
	border-radius: 0.3rem;
	border: none;
}

button:hover {
	cursor: pointer;
}

/* style button theme modes */
button.dark {
	background-color: rgb(113, 164, 246);
	color: #121212;
}

button.light {
	background-color: #2976f1;
	color: #FFF;
}
