html {
  font-size: 16px;
}

body {
  margin: 0;
}

.dark {
  background-color: #333;
  color: rgba(255, 255, 255, 0.87);
}
.light {
  color: rgba(255, 255, 255, 0.87);
  color: #333;
}

@media only screen and (max-width: 550px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: 300px) {
  html {
    font-size: 12px;
  }
}
